body, html {
    height: 100%;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    color: limegreen;
}

#terminal {
    padding: 20px;
    height: calc(100% - 40px);
    overflow-y: auto;
    background-color: black;
    font-size: 16px;
}

#terminal input {
    width: 100%;
    background-color: black;
    color: Amber;
    border: none;
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}

#terminal input:focus {
    outline: none;
}

#terminal div {
    white-space: pre;
}
