body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
    color: #0f0;
    font-family: 'Courier New', Courier, monospace;
}

#terminal {
    height: 95%;
    overflow-y: auto;
    padding: 20px;
}

#terminal-input {
    width: calc(100% - 40px);
    background-color: #000;
    border: none;
    color: #0f0;
    padding: 10px 20px;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}
